/*
***************************************************************
Author: Faisal Khan
Assignment 1 TTP 2016
CSS for all of the pages
***************************************************************
*/
body{
  background-color: #f0f0f5;
}

a{
  text-decoration: none;
  border-bottom: 1px dashed green;
  font-style: italic;
  font-size: 20px;
  color:black;
  font-weight: lighter;
}

a:hover{
  color: purple;
  font-weight: bold;
}

li{
  list-style: none;
  display: inline;
  padding-left: 1%;
  padding-right: 1%;
}

ul{
  display: block;
}

h1{
  text-align: center;
  font-style: italic;
  font-weight: lighter;
}

h3{
  text-align: left;
  font-style: italic;
}

nav{
  width: 40%;
  background-color: #e0ebeb;
  margin:auto;
  text-align: center
}

footer{
  width: 30%;
  clear: both;
  margin: auto;
  text-align: center;
  padding-top: 20px;
  background-color: #e0ebeb;
}

#center{
  text-align: center;
}
/*
***************************************************************
CSS for the gallary page
***************************************************************
*/
#left{
  width:400px;
  height: 300px;
  float: left;
  padding: 2px 2px 2px 2px;
  background-image:url("../pics/2.jpg");
  background-repeat: no-repeat;
  margin: 5px;
}

#mid{

  width: 400px;
  height: 300px;
  float: left;
  padding: 2px 2px 2px 2px;
  background-image: url("../pics/3.jpg");
  background-repeat: no-repeat;
  margin: 5px;
}

#right{

  width: 400px;
  height: 300px;
  float: left;
  padding: 2px 2px 2px 2px;
  background-image: url("../pics/4.jpg");
  background-repeat: no-repeat;
  margin: 5px;
}

#secRight{
  width:400px;
  height: 300px;
  float: left;
  background-image: url("../pics/5.jpg");
  background-repeat: no-repeat;
  padding: 2px 2px 2px 2px;
  margin: 5px;
}

#secMid{
  width: 400px;
  height: 300px;
  float: left;
  background-image: url("../pics/6.png");
  background-repeat: no-repeat;
  padding: 2px 2px 2px 2px;
  margin: 5px;
}

#secLeft{
  width: 400px;
  height: 300px;
  float: left;
  background-image: url("../pics/7.png");
  background-repeat: no-repeat;
  padding: 2px 2px 2px 2px;
  margin: 5px;
}

/*
***************************************************************
CSS for the about page
***************************************************************
*/
#leftCol{
  width: 45%;
  padding: 12px 12px 50px 50px;
  float: left;
  border-right: 1px dotted black;
  margin: auto;

}
#rightCol{
  width: 45%;
  padding: 12px 12px 12px 12px;
  float: left;
  margin: auto;

}

img{
  width: 40px;
  height: 40px;
}

img:hover{
  width: 80px;
  height:80px;
}

#socialMediaBar{
  width: 40px;
  height: 40px;
  position: fixed;
}

/*
***************************************************************
CSS for the gallary page
***************************************************************
*/

#leftColBlog{
  width: 30%;
  padding: 12px 12px 12px 12px;
  float: left;
  border-right: 1px dotted black;
  margin: auto;
}
#midColBlog{
  width: 30%;
  padding: 12px 12px 12px 12px;
  float: left;
  border-right: 1px dotted black;
  margin: auto;
}
#rightColBlog{
  width: 30%;
  padding: 12px 12px 12px 12px;
  float: left;
  margin: auto;
}
